@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Leckerli+One&display=swap');
@import url('nav.css');
@import url('header.css');
@import url('headercontrols.css');
@import url('footer.css');
@import url('genre.css');
@import url('buttons.css');

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

p {
  font-family: "Lato", "Didact Gothic";
}


/* ----------------------------------------- Main Section -------------------------------------------- */


#screen {
  width: 60%;
  height: 500px;
  margin: 0 auto; /* centers horizontally */
  margin-top: 50px;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}

/* ---------------------------------------- Media Query Section ------------------------------------------- */

@media screen and (max-width: 768px) {
    #screen {
        width: 90%;
        height: 300px;
    }

    .container {
        flex-direction: column;
        gap: 20px;
    }

    #Q1, #Q2, #Q3 {
        width: 80%;
    }

    nav {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    footer {
        flex-direction: column;
        gap: 15px;
    }
    
}